@font-face {
    font-family: 'GHK TaungGyi';
    src: url('../fonts/GHKTaungGyi.ttf');
}

@font-face {
    font-family: 'A J Kunheing 6';
    src: url('../fonts/AJ_Kunheing6.ttf');
}


.root {
    -fx-font-family: 'GHK TaungGyi';
    -fx-primary-color: #1e3a57;
    -fx-success-color: #28a745;
    -fx-danger-color: #c30010;
    -fx-background-color: #DDD;
}

.fs-x-big {
    -fx-font-size: 30px;
}

.fs-big {
    -fx-font-size: 18px;
}

.fs-normal {
    -fx-font-size: 16px;
}

.fs-small {
    -fx-font-size: 14px;
}

.fs-x-small {
    -fx-font-size: 12px;
}

.fb {
    -fx-font-weight: bold;
}

.cell {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #1E3A57;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.cell-title {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0px 10px 0px 10px;
    -fx-text-fill: white;
}

.bt-lurn-tai {
    -fx-font-family: 'A J Kunheing 6';
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 50px;
}

.c-primary {
    -fx-text-fill: -fx-primary-color;
}

.c-danger {
    -fx-text-fill: -fx-danger-color;
}

.c-success {
    -fx-text-fill: -fx-primary-color;
}

.c-shan-day {
    -fx-text-fill: rgb(1, 8, 115);
}

.desc {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-background-radius: 10px;
}

#btn-next {
    -fx-background-image: url('../images/next.png');
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

#btn-prev {
    -fx-background-image: url('../images/prev.png');
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

#full-moon {
    -fx-background-image: url('../images/full_moon.png');
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#new-moon {
    -fx-background-image: url('../images/new_moon.png');
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}